sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"HTSNAJ+SimHei";
	src:url("07891c16-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2.065592em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #2E2E2E;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 0.996267em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #3E0097;
}
@font-face {
	font-family:"VAWUFM+FontAwesome-Identity-H";
	src:url("e28d3a16-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 0.664175em;
	font-family: "VAWUFM+FontAwesome-Identity-H", "Times New Roman";
	color: #3E0097;
}
.stl_12 {
	line-height: 1.002em;
}
@font-face {
	font-family:"HJFBOV+Carlito-Bold";
	src:url("f14ac14f-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.664175em;
	font-family: "HJFBOV+Carlito-Bold", "Times New Roman";
	color: #2E2E2E;
}
.stl_14 {
	line-height: 1.220703em;
}
.stl_15 {
	letter-spacing: -0.0009em;
}

.ie .stl_15 {
	letter-spacing: -0.0097px;
}
.stl_16 {
	letter-spacing: 0.0001em;
}

.ie .stl_16 {
	letter-spacing: 0.0013px;
}
.stl_17 {
	letter-spacing: -0.0008em;
}

.ie .stl_17 {
	letter-spacing: -0.0081px;
}
.stl_18 {
	font-size: 0.664175em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #2E2E2E;
}
.stl_19 {
	letter-spacing: 0.0002em;
}

.ie .stl_19 {
	letter-spacing: 0.0017px;
}
.stl_20 {
	letter-spacing: -0.0012em;
}

.ie .stl_20 {
	letter-spacing: -0.0131px;
}
.stl_21 {
	letter-spacing: -0.0007em;
}

.ie .stl_21 {
	letter-spacing: -0.0071px;
}
.stl_22 {
	font-size: 1.434617em;
	font-family: "HJFBOV+Carlito-Bold", "Times New Roman";
	color: #3E0097;
}
.stl_23 {
	letter-spacing: -0.0098em;
}

.ie .stl_23 {
	letter-spacing: -0.2245px;
}
.stl_24 {
	letter-spacing: -0.005em;
}

.ie .stl_24 {
	letter-spacing: -0.1139px;
}
.stl_25 {
	font-size: 0.996267em;
	font-family: "VAWUFM+FontAwesome-Identity-H", "Times New Roman";
	color: #3E0097;
}
.stl_26 {
	font-size: 0.996267em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #2E2E2E;
}
@font-face {
	font-family:"FWJRMD+Carlito";
	src:url("6e1612fe-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.996267em;
	font-family: "FWJRMD+Carlito", "Times New Roman";
	color: #2E2E2E;
}
.stl_28 {
	letter-spacing: -0.008em;
}

.ie .stl_28 {
	letter-spacing: -0.1278px;
}
@font-face {
	font-family:"LIPIAW+KaiTi";
	src:url("1dc980cf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.996267em;
	font-family: "LIPIAW+KaiTi", "Times New Roman";
	color: #2E2E2E;
}
.stl_30 {
	font-size: 0.830217em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #3E0097;
}
.stl_31 {
	font-size: 0.7472em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #3E0097;
}
.stl_32 {
	font-size: 0.7472em;
	font-family: "VAWUFM+FontAwesome-Identity-H", "Times New Roman";
	color: #666666;
}
.stl_33 {
	font-size: 0.7472em;
	font-family: "FWJRMD+Carlito", "Times New Roman";
	color: #666666;
}
@font-face {
	font-family:"SUIBJU+SimSun";
	src:url("4e496671-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.7472em;
	font-family: "SUIBJU+SimSun", "Times New Roman";
	color: #666666;
}
.stl_35 {
	letter-spacing: -0.0003em;
}

.ie .stl_35 {
	letter-spacing: -0.004px;
}
.stl_36 {
	font-size: 0.7472em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #666666;
}
.stl_37 {
	letter-spacing: 0.0059em;
}

.ie .stl_37 {
	letter-spacing: 0.0705px;
}
.stl_38 {
	font-size: 0.7472em;
	font-family: "HJFBOV+Carlito-Bold", "Times New Roman";
	color: #666666;
}
.stl_39 {
	letter-spacing: 0.0072em;
}

.ie .stl_39 {
	letter-spacing: 0.086px;
}
.stl_40 {
	letter-spacing: 0.0077em;
}

.ie .stl_40 {
	letter-spacing: 0.0927px;
}
.stl_41 {
	letter-spacing: -0.0147em;
}

.ie .stl_41 {
	letter-spacing: -0.1753px;
}
.stl_42 {
	letter-spacing: 0.0075em;
}

.ie .stl_42 {
	letter-spacing: 0.0897px;
}
.stl_43 {
	letter-spacing: -0.007em;
}

.ie .stl_43 {
	letter-spacing: -0.0837px;
}
.stl_44 {
	letter-spacing: 0.0003em;
}

.ie .stl_44 {
	letter-spacing: 0.0034px;
}
.stl_45 {
	letter-spacing: -0.003em;
}

.ie .stl_45 {
	letter-spacing: -0.0359px;
}
.stl_46 {
	font-size: 0.830217em;
	font-family: "HJFBOV+Carlito-Bold", "Times New Roman";
	color: #666666;
}
.stl_47 {
	letter-spacing: -0.0225em;
}

.ie .stl_47 {
	letter-spacing: -0.2984px;
}
@font-face {
	font-family:"AWGCVT+Carlito-Italic";
	src:url("3be0fcac-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_48 {
	font-size: 0.830217em;
	font-family: "AWGCVT+Carlito-Italic", "Times New Roman";
	color: #666666;
}
.stl_49 {
	font-size: 0.830217em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #666666;
}
.stl_50 {
	font-size: 0.830217em;
	font-family: "LIPIAW+KaiTi", "Times New Roman";
	color: #666666;
}
.stl_51 {
	font-size: 0.7472em;
	font-family: "AWGCVT+Carlito-Italic", "Times New Roman";
	color: #666666;
}
.stl_52 {
	letter-spacing: -0.0221em;
}

.ie .stl_52 {
	letter-spacing: -0.2638px;
}
.stl_53 {
	font-size: 0.7472em;
	font-family: "LIPIAW+KaiTi", "Times New Roman";
	color: #666666;
}
.stl_54 {
	letter-spacing: -0.015em;
}

.ie .stl_54 {
	letter-spacing: -0.1794px;
}
.stl_55 {
	letter-spacing: -0.0001em;
}

.ie .stl_55 {
	letter-spacing: -0.0014px;
}
.stl_56 {
	font-size: 0.830217em;
	font-family: "HJFBOV+Carlito-Bold", "Times New Roman";
	color: #2E2E2E;
}
.stl_57 {
	letter-spacing: 0.0029em;
}

.ie .stl_57 {
	letter-spacing: 0.0388px;
}
.stl_58 {
	letter-spacing: -0.0421em;
}

.ie .stl_58 {
	letter-spacing: -0.5593px;
}
.stl_59 {
	font-size: 0.830217em;
	font-family: "VAWUFM+FontAwesome-Identity-H", "Times New Roman";
	color: #3E0097;
}
.stl_60 {
	font-size: 0.830217em;
	font-family: "VAWUFM+FontAwesome-Identity-H", "Times New Roman";
	color: #D1D1D1;
}
.stl_61 {
	font-size: 0.996267em;
	font-family: "SUIBJU+SimSun", "Times New Roman";
	color: #2E2E2E;
}
.stl_62 {
	letter-spacing: -0.0015em;
}

.ie .stl_62 {
	letter-spacing: -0.0202px;
}
.stl_63 {
	letter-spacing: -0.0255em;
}

.ie .stl_63 {
	letter-spacing: -0.3389px;
}
.stl_64 {
	letter-spacing: -0.0022em;
}

.ie .stl_64 {
	letter-spacing: -0.0265px;
}
.stl_65 {
	letter-spacing: 0.0004em;
}

.ie .stl_65 {
	letter-spacing: 0.0045px;
}
.stl_66 {
	letter-spacing: -0.0055em;
}

.ie .stl_66 {
	letter-spacing: -0.1269px;
}
.stl_67 {
	letter-spacing: -0.001em;
}

.ie .stl_67 {
	letter-spacing: -0.0119px;
}
.stl_68 {
	font-size: 0.830217em;
	font-family: "FWJRMD+Carlito", "Times New Roman";
	color: #666666;
}
.stl_69 {
	letter-spacing: -0.0002em;
}

.ie .stl_69 {
	letter-spacing: -0.0033px;
}
.stl_70 {
	letter-spacing: -0.0219em;
}

.ie .stl_70 {
	letter-spacing: -0.2913px;
}
.stl_71 {
	letter-spacing: -0.0016em;
}

.ie .stl_71 {
	letter-spacing: -0.0207px;
}
.stl_72 {
	letter-spacing: -0.0017em;
}

.ie .stl_72 {
	letter-spacing: -0.0199px;
}
.stl_73 {
	letter-spacing: -0.0027em;
}

.ie .stl_73 {
	letter-spacing: -0.0356px;
}
.stl_74 {
	font-size: 0.830217em;
	font-family: "SUIBJU+SimSun", "Times New Roman";
	color: #666666;
}
.stl_75 {
	letter-spacing: -0.0036em;
}

.ie .stl_75 {
	letter-spacing: -0.0831px;
}
.stl_76 {
	letter-spacing: -0.0011em;
}

.ie .stl_76 {
	letter-spacing: -0.0126px;
}
.stl_77 {
	letter-spacing: -0.0004em;
}

.ie .stl_77 {
	letter-spacing: -0.0051px;
}
.stl_78 {
	letter-spacing: -0.0042em;
}

.ie .stl_78 {
	letter-spacing: -0.0505px;
}
.stl_79 {
	letter-spacing: -0.0014em;
}

.ie .stl_79 {
	letter-spacing: -0.0318px;
}
.stl_80 {
	font-size: 0.830217em;
	font-family: "HTSNAJ+SimHei", "Times New Roman";
	color: #2E2E2E;
}
.stl_81 {
	font-size: 1.195517em;
	font-family: "VAWUFM+FontAwesome-Identity-H", "Times New Roman";
	color: #3E0097;
}
.stl_82 {
	letter-spacing: -0.0035em;
}

.ie .stl_82 {
	letter-spacing: -0.0418px;
}
.stl_83 {
	letter-spacing: 0.0008em;
}

.ie .stl_83 {
	letter-spacing: 0.0101px;
}
.stl_84 {
	letter-spacing: 0.0011em;
}

.ie .stl_84 {
	letter-spacing: 0.0131px;
}
.stl_85 {
	letter-spacing: 0.001em;
}

.ie .stl_85 {
	letter-spacing: 0.0119px;
}
.stl_86 {
	letter-spacing: 0.0152em;
}

.ie .stl_86 {
	letter-spacing: 0.2023px;
}
.stl_87 {
	letter-spacing: 0.0026em;
}

.ie .stl_87 {
	letter-spacing: 0.0316px;
}
.stl_88 {
	letter-spacing: 0.002em;
}

.ie .stl_88 {
	letter-spacing: 0.0241px;
}
.stl_89 {
	letter-spacing: 0.0027em;
}

.ie .stl_89 {
	letter-spacing: 0.0319px;
}
.stl_90 {
	letter-spacing: -0.0081em;
}

.ie .stl_90 {
	letter-spacing: -0.1071px;
}
.stl_91 {
	letter-spacing: 0.0216em;
}

.ie .stl_91 {
	letter-spacing: 0.2869px;
}
.stl_92 {
	letter-spacing: 0.0039em;
}

.ie .stl_92 {
	letter-spacing: 0.0465px;
}
.stl_93 {
	letter-spacing: 0.0049em;
}

.ie .stl_93 {
	letter-spacing: 0.0586px;
}
.stl_94 {
	letter-spacing: 0.0034em;
}

.ie .stl_94 {
	letter-spacing: 0.0404px;
}
.stl_95 {
	letter-spacing: 0.005em;
}

.ie .stl_95 {
	letter-spacing: 0.0598px;
}
.stl_96 {
	letter-spacing: 0.0132em;
}

.ie .stl_96 {
	letter-spacing: 0.176px;
}
.stl_97 {
	letter-spacing: -0.013em;
}

.ie .stl_97 {
	letter-spacing: -0.1723px;
}
.stl_98 {
	letter-spacing: 0.0032em;
}

.ie .stl_98 {
	letter-spacing: 0.0388px;
}
.stl_99 {
	font-size: 0.415108em;
	font-family: "SUIBJU+SimSun", "Times New Roman";
	color: #666666;
}
.stl_100 {
	font-size: 0.415108em;
	font-family: "FWJRMD+Carlito", "Times New Roman";
	color: #666666;
}
